/*  
Styles for the index page
*/

:root {
  --white: #fff;
  --off-white: #f5f5f5;
  --black: #000;
  --off-black: #202124;
  --matte-black: #333;
  --light-grey: #f8f9fa;
  --brand-orange: #8f3c00;
  --brand-purple: #4e0069;

  --text: var(--off-white);
  --purple-text: #edbaff;
  --light-purple-text: #f5dbff;
  --light-orange-text: #ffe1c0;
  --background: var(--black);
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}

body {
  background: var(--background);
  background: linear-gradient(
    var(--matte-black) 0%,
    var(--off-black) 20%,
    var(--black) 100%
  );
  color: var(--light-purple-text);
  font-family: "DM Sans", "Quicksand", "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

/* Fix footer issues */
#page-container {
  position: relative;
  min-height: 100vh;
}

#content {
  padding-bottom: 20rem;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  max-height: 20rem;
}

main {
  min-width: 0;
}

img {
  max-width: 100%;
}

.section {
  padding: 3rem 4rem 3rem 4rem;
}

.section-heading {
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.2;
  color: var(--purple-text);
  font-family: "Geologica", sans-serif;
}

@media screen and (max-width: 600px) {
  .section {
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

address {
  font-style: normal;
  display: block;
}

address > h4 {
  margin-top: 1.25rem;
  margin-bottom: 0.5rem;
}

h1 h2 h3 h4 h5 h6 {
  font-family: "DM Sans", "Quicksand", "Roboto", sans-serif;
  font-weight: 500;
  line-height: 1.2;
  margin: 0;
}

h1 {
  font-weight: 500;
  font-size: 2.5rem;
}

h2 {
  font-weight: 500;
  font-size: 2rem;
}

h3 {
  font-weight: 500;
  font-size: 1.5rem;
}

h4 {
  font-weight: 500;
  font-size: 1.25rem;
}

h5 {
  font-weight: 500;
  font-size: 1rem;
}

h6 {
  font-weight: 500;
  font-size: 0.875rem;
}

a {
  color: var(--brand-orange);
}

p {
  margin: 0;
}

/* Thread background */
.background-stars {
  background: url("/assets/backgrounds/stars-nb.png");
}

/* Buttons */
.outlined-button {
  background: linear-gradient(
    90deg,
    rgba(143, 60, 0, 1) 0%,
    rgba(78, 0, 105, 1) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-color: var(--white);
  color: inherit;
  border: 1px solid var(--brand-orange);
  font-weight: 300;
  border-radius: 4px;
  display: inline-block;
  margin: 0;
  padding: 0.5rem 1rem;
  text-decoration: none;
}

.outlined-button:hover {
  background: linear-gradient(
    90deg,
    rgba(78, 0, 105, 1) 0%,
    rgba(143, 60, 0, 1) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border: 1px solid var(--brand-purple);
  cursor: pointer;
}

.filled-button {
  background-color: var(--brand-purple);
  border: 1px solid var(--brand-purple);
  border-radius: 4px;
  color: var(--white);
  display: inline-block;
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  text-decoration: none;
  font-size: 1rem;
  transition: 0.3s;
}

.filled-button:hover {
  background-color: var(--brand-orange);
  border: 1px solid var(--brand-orange);
  cursor: pointer;
}

/* Navbar */

.navbar {
  background-color: var(--white);
  color: var(--brand-orange);
  height: 4.5rem;
  width: 100vw;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  padding: 0.5rem 1rem;
  font-weight: 500;
  font-size: 0.75rem;
  line-height: 1;
  font-size: large;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "left center right";
  justify-items: center;
  align-items: center;
}

.navbar-left {
  grid-area: left;
  justify-self: left;
}

.navbar-center {
  grid-area: center;
  justify-self: center;
}

.navbar-right {
  grid-area: right;
  justify-self: right;
}

.navbar-logo {
  display: flex;
  height: 2.5rem;
  width: auto;
  margin: 0;
  padding: 0;
  max-width: max-content;
}

.navbar-link {
  background: linear-gradient(
    90deg,
    rgba(143, 60, 0, 1) 0%,
    rgba(78, 0, 105, 1) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: inherit;
  color: inherit;
  font-weight: 300;
  text-decoration: none;
  display: inline-block;
  margin: 0;
  padding: 0.5rem 1rem;
}

@media screen and (max-width: 600px) {
  .navbar-link {
    display: none;
  }
}

.navbar-link:hover {
  background: linear-gradient(
    90deg,
    rgba(78, 0, 105, 1) 0%,
    rgba(143, 60, 0, 1) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
}

/* Hero */
.hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "left right";
  justify-items: center;
  align-items: center;
}

@media screen and (max-width: 600px) {
  .hero {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "left" "right";
    padding: 0 1rem;
  }
}

.hero-left {
  grid-area: left;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: "tagline subheading button";
}

.hero-right {
  grid-area: right;
  grid-template-areas: "image";
}

.hero-tagline {
  grid-area: "tagline";
  font-weight: 500;
  line-height: 1.2;
  color: var(--purple-text);
  font-size: 3rem;
  font-family: "Geologica", "DM Sans", sans-serif;
}

@media screen and (max-width: 600px) {
  .hero-tagline,
  .hero-subheading {
    font-size: auto;
  }
}

.hero-subheading {
  grid-area: subheading;
  font-weight: 250;
  font-size: 1.5rem;
}

.hero-button {
  grid-area: button;
}

.hero-image {
  grid-area: image;
  justify-self: right;
  font-size: 23rem;
  animation: shake 1s;
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

@media screen and (max-width: 1280px) {
  .hero-image {
    width: 100%;
    min-width: 10rem;
    justify-self: center;
  }
}

@media screen and (max-width: 600px) {
  .hero-image {
    width: 100%;
    height: auto;
  }
}

/* About */
.about-text {
  font-size: 1.25rem;
  font-weight: 300;
  line-height: 1.5;
}

/* Services */
.services {
  display: grid;
  text-align-last: left;
  grid-template-rows: 2rem 3fr;
  grid-template-areas: "heading" "content";
  row-gap: 2rem;
  justify-items: center;
  align-items: center;
}

.services-heading {
  grid-area: heading;
  justify-self: left;
  padding-bottom: 1rem;
}

.services-content {
  grid-area: content;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  column-gap: 2rem;
  justify-items: center;
  align-items: center;
}

@media screen and (max-width: 1280px) {
  .services-content {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
  }
}

.services-card {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-items: center;
  align-items: center;
  border: 1px solid var(--purple-text);
  padding: max(1rem, 1vw);
}

.services-card:hover {
  background-color: var(--off-black);
  border: 1px solid var(--light-orange-text);
  color: var(--light-orange-text);
}

.services-card-icon {
  font-size: 5rem;
}

.services-card-heading {
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.2;
}

.services-card-text {
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.5;
}

/* Projects */

/* Contact */
.contact {
  grid-area: contact;
  justify-items: center;
  align-items: center;
}

.contact-description {
  font-size: 1.25rem;
  font-weight: 300;
  line-height: 1.5;
  margin-bottom: 2rem;
}

.contact-information-container {
  display: flex;
  flex-wrap: row wrap;
  color: var(--matte-black);
  background-color: var(--white);
  padding: 2rem;
  justify-items: stretch;
  align-items: center;
}

.contact-details {
  padding-left: 2rem;
  height: 100%;
}

.contact-detail {
  width: 100%;
}

.contact-form {
  display: grid;
  grid-template-rows: repeat(auto-fit, 1fr);
  column-gap: 2rem;
  row-gap: 1rem;
  justify-items: left;
  width: 100%;
  align-items: left;
  padding-right: 2rem;
  border-right: 2px solid var(--light-grey);
}

.contact-input {
  width: 100%;
  padding: 0.5rem;
  border: none;
  outline: none;
}

input,
textarea,
button {
  font-family: "DM Sans", "Quicksand", "Roboto", sans-serif;
}

input.contact-input {
  padding: 0 0 0.5rem 0.05rem;
  border-bottom: 2px solid var(--light-grey);
}

input.contact-input:focus {
  border-bottom: 2px solid var(--brand-purple);
  transition: 0.3s;
}

textarea.contact-input {
  border: 2px solid var(--light-grey);
}

textarea.contact-input:focus {
  border: 2px solid var(--brand-purple);
  transition: 0.3s;
}

fieldset.contact-fieldset.contact-input {
  margin-left: 0;
  padding-left: 0;
  border: none;
}

fieldset.contact-fieldset > input.contact-input {
  margin-left: 0;
  padding-left: 0;
}

.contact-input::placeholder {
  font-family: inherit;
}

[type="radio"]:checked,
[type="radio"]:not(:checked) {
  position: absolute;
  box-sizing: content-box;
  left: -9999px;
}
[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label {
  position: relative;
  box-sizing: content-box;
  padding-left: 28px;
  cursor: pointer;
  line-height: 20px;
  display: inline-block;
  color: var(--matte-black);
}
[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
  content: "";
  position: absolute;
  box-sizing: content-box;
  left: 0;
  top: 0;
  width: 18px;
  height: 18px;
  border: 1px solid var(--matte-black);
  border-radius: 100%;
  background: var(--white);
}
[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
  content: "";
  width: 12px;
  height: 12px;
  background: var(--brand-purple);
  position: absolute;
  top: 4px;
  left: 4px;
  border-radius: 100%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
[type="radio"]:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  box-sizing: content-box;
  transform: scale(0);
}
[type="radio"]:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  box-sizing: content-box;
  transform: scale(1);
}

@media screen and (max-width: 600px) {
  .content-information-container {
    display: grid !important;
    grid-template-columns: 1fr !important;
  }
  .contact-form {
    border-right: none;
    padding-right: 0;
  }
  .content-information-container {
    padding: 1rem;
  }
}

/* Footer */
.footer {
  background-color: var(--light-grey);
  color: var(--matte-black);
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "left right";
  justify-items: center;
}

.footer-left {
  grid-area: left;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "logo" "text";
  row-gap: 1rem;
  justify-items: left;
  align-items: center;
}

.footer-logo {
  grid-area: logo;
  filter: brightness(0) saturate(100%);
  height: 5rem;
  width: auto;
}

.footer-text {
  grid-area: text;
}

.footer-right {
  grid-area: right;
  display: grid;
  justify-items: right;
  justify-self: right;
  align-items: center;
}

.footer-social {
  display: grid;
  grid-template-rows: repeat(auto-fit, 1fr);
  row-gap: 0.5rem;
  justify-items: center;
  align-items: center;
}

@media screen and (max-width: 600px) {
  .footer {
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 1fr;
    grid-template-areas: "left" "right";
    height: auto;
    width: auto;
  }
  .footer-left {
    grid-area: left;
    justify-items: left;
    align-items: center;
  }
  .footer-right {
    grid-area: right;
    justify-items: left;
    justify-self: center;
    align-items: left;
  }
  .footer-logo {
    height: auto;
    width: auto;
  }
  .footer-social {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 0.5rem;
    justify-items: left;
    align-items: left;
  }
  .footer-text {
    display: none;
  }
}

.footer-social-icon {
  height: 3em;
  width: auto;
}

/* Snow Animation */
.snow {
  position: absolute;
  min-width: inherit;
  min-height: inherit;
  z-index: -1;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

.snow .svg {
  position: absolute;
  width: 100%;
  height: 100%;
}

#snow-top-layer {
  will-change: transform;
  transform: translateY(-768px);
  animation: fall 1s infinite linear;
}

#snow-bottom-layer {
  will-change: transform;
  transform: translateY(-768px);
  animation: fall 6s infinite linear;
}

@keyframes fall {
  100% {
    transform: translateY(0);
  }
}
