@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Schibsted+Grotesk:ital,wght@0,400..900;1,400..900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    ::selection {
        @apply text-neutral-950;
        @apply bg-neutral-50;
    }

    :root {
      --radius: 0.5rem;
    }
}

@layer utilities {
    @keyframes marquee {
        0% { transform: translateX(100%); }
        100% { transform: translateX(-100%); }
    }
    
    @keyframes marquee-reverse {
        0% { transform: translateX(-100%); }
        100% { transform: translateX(100%); }
    }
    
    @keyframes marquee-up {
        0% { transform: translateY(100%); }
        100% { transform: translateY(-100%); }
    }
    
    @keyframes marquee-down {
        0% { transform: translateY(-100%); }
        100% { transform: translateY(100%); }
    }
}